<section>
    <div class="posts m-5">
        <h2 class="heading">Homepage</h2>

        {{#if logged_in}}
        <h3 class="m-5 poppins">Create New Post</h3>
        <form class="post-form m-5 w-50 align-center">
            <div class="mb-3 poppins">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control form-control-sm" id="title" aria-describedby="emailHelp" />
            </div>
            <div class="mb-3 poppins">
                <label for="content" class="form-label">Content</label>
                <input type="text" class="form-control form-control-sm" id="content" />
            </div>
            <div class="mb-3 d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn-sm poppins">
                    Create new post
                </button>
            </div>
        </form>
        {{else}}
        <div class="mt-3">
            <h5>Login to create a post!</h5>
        </div>
        {{/if}}

        <div class="blog-posts m-5 poppins">
            <div class="card" style="width: 100%">
                <div class="card-header darkpeach">
                    <h4>Posts</h4>
                </div>
                <table class="table table-striped my-blogs">
                    <thead>
                        <th class="singlePost" scope="col">Title</th>
                        <th scope="col">Content</th>
                    </thead>
                    <tbody>
                        {{#each posts as |post|}}
                        <tr>
                            <th scope="row"><a href="/post/{{post.id}}">{{post.title}}</a></th>
                            <td>{{post.content}}</td>
                            <td>Created by {{post.user.username}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="/js/homepage.js"></script>
