<div class="card m-6">

    <div class="card m-5 poppins post-id">
        <h5 class="card-header">{{post.title}}</a></h5>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
            <div class="text-muted space-between">
                <ul>
                    <li>Created by
                        {{post.user.username}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card m-5 poppins">
        <h5 class="card-header">Comments ({{post.comments.length}})</a></h5>
        <div class="card-body">
            {{#each post.comments as |comment|}}
            <p class="card-text">{{comment.description}}</p>
            <div class="text-muted space-between">
                <ul>
                    <li>{{comment.user.username}}</li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>


    {{#if logged_in}}
    <form class="add-comment" post_id="{{post.id}}">
        <div class="form-group mt-1 p-2">
            <label for="addComment">Comment:</label>
            <textarea type="input" class="form-control" id="addComment" rows="3" placeholder="Enter comment"></textarea>
        </div>

        <div class="d-md-flex justify-content">
            <button class="btn-sm poppins" type="submit">Add Comment</button>
        </div>
    </form>
    {{/if}}
    <script src="/js/comment.js"></script>
</div>